

.slider {
  position: relative;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.image {
  width: 100%;
  height: 100%;
  border-radius: 10px;
}

.right-arrow {
  position: absolute;
  top: 50%;
  right: 2vw;
  font-size: 5vw;
  color: rgb(255, 255, 255);
  z-index: 10;
  cursor: pointer;
  user-select: none;
}

.left-arrow {
  position: absolute;
  top: 50%;
  left: 2vw;
  font-size: 5vw;
  color: rgb(255, 255, 255);
  z-index: 10;
  cursor: pointer;
  user-select: none;
}

/*@media 
  (max-width: 600px){
    body{
      background-color: aquamarine;
    }
    left-arrow{
      padding-left: 10px;
    }
    right-arrow{
      padding-right: 0px;
      position: absolute;
    }
  }*/
